<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{ item.url }}">
        <span class="header">
          {% if item.icon %}
          <img class="inline-icon" src="{{ item.icon }}" width=32/>
          {% endif %}
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
        </span>
      </a>
      <hr />

      {% if item.desc != false %}
      <div class="body">
        {{ item.desc | markdownify}}
      </div>
      {% endif %}
      {% if item.tags %}
      {% for tag in item.tags %}
      <div class="card-tag-area">
      <span class="tag">{{ tag }}</span>
      </div>
      {% endfor %}
      {% endif %}
  </li>

  {% endfor %}
</ul>
