<ul>
  {% for item in include.collection %}
    <li>
    {% if item.url %}
      <a href="{{ item.url }}">{% if item.icon %}<img class="inline-icon" src="{{ item.icon }}" width=16/>{% endif %} {{ item.title }}</a>
    {% else %}
      {% if item.icon %}<img class="inline-icon" src="{{ item.icon }}" width=16/>{% endif %} {{ item.title }}
    {% endif %}

    {% if item.post_list == true %}
      {% include post_list.html %}
    {% endif %}

    {% if item.entries %}
      {% include vertical_list.html collection=item.entries %}
    {% endif %}
    </li>
  {% endfor %}
</ul>
